#! /usr/bin/env bash
echo "Loaded aliases..."

# Lazy me is lazy
alias g="git"
alias dco="docker-compose"
alias nah='git reset --hard;git clean -df'
alias reload_profile="source ~/.zshrc;echo \"Reloaded .zshrc!\""
alias top="sudo htop"
alias mux="tmuxinator"

if [ -f ~/.private_aliases ]; then
  source ~/.private_aliases
fi
