[user]
	name = mattc-cogapp
	email = mattc@cogapp.com

[color]
  ui = true

[alias]
  cp = cherry-pick
  st = status -s
  cl = clone
  ci = commit
  co = checkout
  br = branch
  diff = diff --word-diff
  dc = diff --cached
  fp = format-patch
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  la = "!git config -l | grep alias | cut -c 7-"
  svnr = svn rebase
  svnd = svn dcommit
  svnl = svn log --oneline --show-commit
  bra = branch -vva
  fap = fetch --all --prune

[core]
  excludesfile = /Users/MattC/.gitignore_global
  editor = vim

[push]
	default = simple
